{% include header.html %}

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<span class="image">
								<img src="images/{{ page.headliner.image }}" alt="" />
							</span>
							<header class="major">
								<h1>{{ page.headliner.text }}</h1>
							</header>
							<div class="content">
								<p>{{ page.headliner.subtext }}</p>
								<ul class="actions">
									<li><a href="projects.html" class="button next scrolly">{{ page.headliner.callToAction }}</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="projects.html" class="link">Our Projects</a></h3>
										<p>See how we're changing ATL.</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="scholars.html" class="link">Meet the Scholars</a></h3>
										<p>Get to know the faces and minds of the GitHub Scholars Program.</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>About the GitHub Scholars Program</h2>
									</header>
									<p>Read about this program, what it's all about, and the change we plan to effect.</p>
									<ul class="actions">
										<li><a href="about.html" class="button next">Learn more</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Footer -->
				{% include footer.html %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
